@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 40% 98%;
    --foreground: 220 60% 1%;
    --card: 225 40% 98%;
    --card-foreground: 220 60% 1%;
    --popover: 225 40% 98%;
    --popover-foreground: 220 60% 1%;
    --primary: 44 47% 63%;
    --primary-foreground: 220 60% 1%;
    --secondary: 104 48% 91%;
    --secondary-foreground: 220 60% 1%;
    --muted: 225 39% 20%;
    --muted-foreground: 220 59% 70%;
    --accent: 44 47% 51%;
    --accent-foreground: 220 60% 1%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 220 60% 1%;
    --border: 225 39% 20%;
    --input: 225 39% 20%;
    --ring: 44 47% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 225 40% 2%;
    --foreground: 220 60% 99%;
    --card: 225 40% 2%;
    --card-foreground: 220 60% 99%;
    --popover: 225 40% 2%;
    --popover-foreground: 220 60% 99%;
    --primary: 44 47% 37%;
    --primary-foreground: 225 40% 2%;
    --secondary: 104 48% 9%;
    --secondary-foreground: 220 60% 99%;
    --muted: 225 39% 80%;
    --muted-foreground: 220 60% 99%;
    --accent: 44 47% 49%;
    --accent-foreground: 225 40% 2%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 221 61% 10%;
    --border: 225 40% 60%;
    --input: 225 39% 80%;
    --ring: 44 47% 60%;
  }
}

@layer base {
  html {
    font-family: 'Roboto Flex', sans-serif;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
